<footer>
	<div class="footer-content footer-links">
		<div class="footer-item">
			<h3>Menu 1</h3>
			<ul>
				<li>
					<a href="#">Item 1</a>
				</li>
				<li>
					<a href="#">Item 2</a>
				</li>
				<li>
					<a href="#">Item 3</a>
				</li>
				<li>
					<a href="#">Item 4</a>
				</li>
			</ul>
		</div>
		<div class="footer-item">
			<h3>Menu 2</h3>
			<ul>
				<li>
					<a href="#">Item 1</a>
				</li>
				<li>
					<a href="#">Item 2</a>
				</li>
				<li>
					<a href="#">Item 3</a>
				</li>
				<li>
					<a href="#">Item 4</a>
				</li>
			</ul>
		</div>
		<div class="footer-item">
			<h3>Menu 3</h3>
			<ul>
				<li>
					<a href="#">Item 1</a>
				</li>
				<li>
					<a href="#">Item 2</a>
				</li>
				<li>
					<a href="#">Item 3</a>
				</li>
				<li>
					<a href="#">Item 4</a>
				</li>
			</ul>
		</div>
		<div class="footer-item">
			<h3>Menu 4</h3>
			<ul>
				<li>
					<a href="#">Item 1</a>
				</li>
				<li>
					<a href="#">Item 2</a>
				</li>
				<li>
					<a href="#">Item 3</a>
				</li>
				<li>
					<a href="#">Item 4</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer-content footer-copyright">
	  <div class="copyright">
		  <p>Copyright 2020 - All rights reserved.</p>
	  </div>
	  <div class="social-network">
		  <ul>
			  <li>
				  <a href="#">
					  <i class="fab fa-facebook"></i>
				  </a>
			  </li>
			  <li>
				<a href="#">
					<i class="fab fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fab fa-instagram"></i>
				</a>
			</li>
		  </ul>
	  </div>  
	</div>
</footer>