<header>
	<nav>
		<div class="nav-logo">
			<a href="#">1Alina</a>
		</div>
		<div class="nav-menu">
			<ul>
				<li>
					<a href="#">Menu 1</a>
				</li>
				<li>
					<a href="#">Menu 2</a>
				</li>
				<li>
					<a href="#">Menu 3</a>
				</li>
				<li>
					<a href="#">Menu 4</a>
				</li>
			</ul>
		</div>
		<div class="nav-auth">
			<ul>
				<li>
					<a href="login.html">Sign in</a>
				</li>
				<li>
					<a href="register.html" class="signup">Sign up</a>
				</li>
			</ul>
		</div>
	</nav>
</header>